footer {
	background-color: #A4BDBC;
	padding-top: 5%;
	padding-bottom: 5%;
	text-decoration: none;
	width: 100%;
	text-align: center;
}

footer a, a:link {
	color: white;
}

.fa {
	color: white;
	text-decoration: none;
	border: none;
	transition: all 200ms linear;
	padding: 15px;
}

.fa:hover {
	color: #EAF5EA;
}

.logo {
	margin: auto;
	width: 8rem;
	display:block; 
	left: 0; 
	right: 0;
	top:5%;
	bottom: auto;
	padding-bottom: .5rem;
}

.visuallyhidden {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}