.product {
	background-color: white;
	overflow: hidden;
}

.space-none {
	margin-bottom: 5px;
}

.border {
	padding: 1em;
	margin: .5em;
}

.icing-image {
	max-width: 200px;
}

.icing-description {
	max-width: 400px;
}

.center {
	text-align: center;
	display: block;
}

.center-h1 {
	text-align: center;
	display: block;
}

.blue {
	color: #A4BDBC;
	border-bottom: 2px dotted #A4BDBC;
}

.pink {
	color: #D1A1A7;
	border-bottom: 2px dotted #D1A1A7;
}

.margin-auto {
	margin: auto;
	text-align: center;
}

.see-more {
	margin-top: 2em;
}

.cart-item {
	background-color: rgba(164,189,188,1);
}

.cupcake-choice {
	color: #fff;
}

.details {
	color: #A4BDBC;
}

.description {
	line-height: 1em;
}

.hr {
	
}









