.promo-small {
	background-color: #A4BDBC;
	margin: .5em;
	padding: .5em;
}

.promo-large {
	background-color: #D1A1A7;
	margin: .5em;
	padding: .5em;
}

.promo-group .unit:last-child .promo-small{
	background-color: #EAF5EA;
}