/*
  Colour Palette
  - Dark green: #060 - rgb(0, 100, 0)
  - Dark red: #600 - rgb(100, 0, 0)
 */


html {
  font: normal 100%/1.5 'Carrois Gothic SC', sans-serif; /* 16px/24px */
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, blockquote, table, hr {
  margin: 0 0 1.5rem; /*bottom margin same as line-height */
}

.color1 {
	background-color: #7C6165;
}
.color2 {
	background-color: #D1A1A7;
}
.color3 {
	background-color: #EAF5EA;
}
.color4 {
	background-color: #A4BDBC;
}
.color5 {
	background-color: #221718;
	margin-bottom: 1rem;
}

.color1, .color2, .color3, .color4, .color5 {
	color: white;
	padding: 2%;
	font-family: 'Carrois Gothic SC', sans-serif;
	text-transform: uppercase;
	text-align: center;
}

.yotta {
  font-size: 2.2807rem;
  line-height: 1.3154;
}

.zetta {
  font-size: 2.0273rem;
  line-height: 1.4798;
}

h1, .exa {
  font-size: 1.8020rem;
  line-height: 1.6648;
}

h2, .peta {
  font-size: 1.6018rem;
  line-height: 1.8729;
}

h3, .tera {
  font-size: 1.4238rem;
  line-height: 1.0535;
}

h4, .giga {
  font-size: 1.2656rem;
  line-height: 1.1852;
}

h5, .mega {
  font-size: 1.1250rem;
  line-height: 1.3333;
}

h6, .kilo {
  font-size: 1.0000rem;
  line-height: 1.5000;
}

small, .milli {
  font-size: 0.8889rem;
  line-height: 1.6875;
}

.micro {
  font-size: 0.7901rem;
  line-height: 1.8984;
}

h1, h2, h3, h4, h5, h6,
.brand {
	color: #221718;
	font-family: 'Carrois Gothic SC', sans-serif;
}

.brand-face {
	font-family: 'Carrois Gothic SC', sans-serif;
}

.brand-color {
	color: red;
}

::selection {
	background-color: #A4BDBC;
	color: #fff;
}

a,
a:link {
	color: #D1A1A7;
	text-decoration: none;
	border-bottom: 1px solid rgba(209,161,167,.5);
	transition: all 200ms linear;
}

a:visited {
	color: #D1A1A7;
	border-bottom-color: rgba(209,161,167,.5);x
}

a:hover,
a:focus,
a:active {
	color: #7C6165;
	border-bottom-color: #7C6165;
}

ul {
	list-style-type: none;
}

ul li {
	position: relative;
}

ul li:before {
	content:"❁";
	color: #666;
	position: absolute;
	left: -1em;
}

blockquote {
	color: white;
	background-color: #A4BDBC;
	padding: 5% 8%;
}

blockquote footer {
	color: #221718;
	padding-right: 5%;
	text-align: right;
}

mark {
	background-color: #EAF5EA;
}

small, .milli, .micro {
	color: rgba(34,23,24,.5);

}

caption {
	color: #D1A1A7;
}

table {
	border: 1px solid;
	margin-top: 1.5rem;
	padding: 1rem;
}

table th {
	font-weight: bold;
	font-size: 20px;
	background-color: rgba(164,189,188,.5);
	padding: 2%;
	color: white;
	text-transform: uppercase;
}

table td {
	margin: 1em 0;
	line-height: 2;
	text-align:center;
	font-size: 16px;
}

table tr {
	background-color: white;
}




