# Accessibility Testing Report

User testing was conducted by {Alyson Conner} on {Monday March 31} between the times of {5:20pm} and {7:00pm} with the following participants:

- {Vickey Menard}
- {Rebecca Wright}
- {Jordan Doe}
- {Theresa Doe}
- {Todd Doe}
- {Taylor Doe}

## Tasks

1. navigate to products page
2. find and select link for twitter
3. navigate to about page and find location

---

## Individual Results & Observations

### Vickey Menard (voice)

- completed tasks as expected
- took a long time to get through hours to location
- found links as expected

### Rebecca Wright (tab)

- completed tasks as expected
- screen reader read address 
- found pages and links as expected

### Kayla Tomkiewicz (voice)

- completed tasks as expected
- found hours for Monday to avoid going through whole hours table 
- etc.

### Chelsea Smith (tab)

- completed tasks as expected
- had to tab a lot to get through hours table

### Alex Martin (voice)

- completed tasks as expected
- was able to navigate as expected

### Evan Grice

- completed tasks as expected
- was able to navigate to requested areas

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- no critical errors

### Serious, Causes Frustration, May Hinder Completion

- going through the hours table required a lot of tabbing

### Minor, Annoying, Won’t Hinder Completion

- none reported, everything worked as expected