# Accessibility Testing Report

User testing was conducted by {Alyson Conner} on {Monday March 31} between the times of {5:20pm} and {7:00pm} with the following participants:

- {Vickey Menard}
- {Rebecca Wright}
- {Jordan Doe}
- {Theresa Doe}
- {Todd Doe}
- {Taylor Doe}

## Tasks

1. navigate to products page
2. find and select link for twitter
3. navigate to about page and find location

---

## Individual Results & Observations

### Vickey Menard (voice)

- completed tasks as expected
- took a long time to get through hours to location
- found links as expected

### Rebecca Wright (tab)

- completed tasks as expected
- screen reader read address 
- found pages and links as expected

### Kayla Tomkiewicz (voice)

- completed tasks as expected
- found hours for Monday to avoid going through whole hours table 
- etc.

### {Theresa Doe}

- {She completed the task as expected…}
- {She had troubles completing a specific task…}
- etc.

### {Todd Doe}

- {He completed the task as expected…}
- {He had troubles completing a specific task…}
- etc.

### {Taylor Doe}

- {They completed the task as expected…}
- {They had troubles completing a specific task…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.