---
layout: default
title: Home
showbanner: yes
bannertext: We love cupcakes!
---

<div class="grid unit unit-s-1 unit-m-1 unit-l-1">
		<h1 class="yotta welcome">welcome to cake</h1>
			<div class="about-image-box">
    			<div class="media-img-reversed">
    				<img class="media flex-img large-bucket" src="{{site.baseurl}}/assets/about-cupcake.jpg" alt="">
  				</div>
  			</div>
		<p class="thank-you">Founded in 2001, cake is Ottawa’s first and finest cupcake bakery, and we know how much fun a cupcake can be!</p>
</div>

<!-- Large Promo start -->

<div class="grid promo-group promo-large">
  <div class="gutter unit unit-s-1 unit-m-1 unit-l-1">
    {% include promo-large.html title="Flavour of the Week" desc="Chocolate Chip Yummy" image="assets/white-cake.jpg" %}
    </div>
</div>

<!-- Large Promo end -->

<!-- Promo Small start -->

<div class="grid promo-group">

  <div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-3">
    {% include promo-small.html title="Promo 1" desc="Cupcake Mondays" image="/cupcake.jpg" %}
  </div>

  <div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-3">
    {% include promo-small.html title="Promo 2" desc="Wedding Specials" image="/cupcake-2.jpg" %}
  </div>

  <div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-3">
    {% include promo-small.html title="Promo 3" desc="Delicious Sale" image="/cupcake-3.jpg" %}
  </div>

</div>

<!-- Promo small end -->