---
layout: default
title: Home
showbanner: yes
bannertext: We love cupcakes!
---
<main role="main">

<div class="grid unit unit-s-1 unit-m-1 unit-l-1">
		<h1 class="yotta welcome">welcome to cake</h1>
		<p class="thank-you">Founded in 2001, cake is Ottawa’s first and finest cupcake bakery, and we know how much fun a cupcake can be!</p>
</div>

<!-- Large Promo start -->

<div class="grid promo-group promo-large">
  <div class="gutter unit unit-s-1 unit-m-1 unit-l-1">
    {% include promo-large.html title="Flavour of the Week" desc="Chocolate Chip Yummy" price="$5.00 for 6" blurb="Because their small size is more efficient for heat conduction, cupcakes bake much faster than a normal layered cake. Cupcakes may be topped with frosting or other cake decorations. They may be filled with frosting or pastry cream." image="assets/white-cake.jpg" %}
  </div>
</div>

<!-- Large Promo end -->

<!-- Promo Small start -->

<div class="grid promo-group">
  <div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-3">
    {% include promo-small.html title="Flavour of the Week" desc="Cupcake Mondays" price="$2.50 for 2" blurb="Because their small size is more efficient for heat conduction, cupcakes bake much faster than a normal layered cake. Cupcakes may be topped with frosting or other cake decorations. They may be filled with frosting or pastry cream." image="/cupcake.jpg" %}
  </div>

  <div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-3">
    {% include promo-small.html title="Cake &amp; Icing of choice" desc="Wedding Specials" price="$99 for 200" blurb="Because their small size is more efficient for heat conduction, cupcakes bake much faster than a normal layered cake. Cupcakes may be topped with frosting or other cake decorations. They may be filled with frosting or pastry cream." image="/cupcake-2.jpg" %}
  </div>

  <div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-3">
    {% include promo-small.html title="Chocolate Dream" desc="Delicious Sale" price="$12.99 per 12" blurb="Because their small size is more efficient for heat conduction, cupcakes bake much faster than a normal layered cake. Cupcakes may be topped with frosting or other cake decorations. They may be filled with frosting or pastry cream." image="/cupcake-3.jpg" %}
  </div>
</div>

</main>
<!-- Promo small end -->