# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Vickey Menard}
- {John Doe}
- {Jordan Doe}

## Tasks

1. {search for icing, find double chocolate and buy and pay}
2. {find the hours of operation and address}
3. {view the products page and view details for classic white cake}

---

## Individual Results & Observations

### {Vickey Menard}

- {she clicked on the link as expected…}
- {she found links without a problem and completed the tasks}
- {no questions asked}
- {Fill in any observations that were important/relevant…}

### {Chelsea Smith}

- {she clicked on the link as expected…}
- {she had no trouble finding the links and completing the tasks}
- {she didnt ask any questions}
- {Fill in any observations that were important/relevant…}

### {Kayla Tomkiewicz}

- {she clicked on the link as expected…}
- {she had no trouble completing the specific tasks}
- {she didnt ask any questions}
- {Fill in any observations that were important/relevant…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.