<div class="promo-small">

		<div class="media">
		    <div class="media-img-stacked">
		    	<img class="flex-img" src="{{site.baseurl}}/assets/{{include.image}}" alt="cupcake image">
		  	</div>
		</div>
	
	<div class="border">
		<div class="media-body">
		    <div class="float-left">
		    	<h2 class="kilo space-none">{{include.title}}</h2>
		    	<p class="micro space-none">{{include.desc}}</p>
			</div>
		    <div class="float-right">
		    	<p>{{include.price}}</p>
			</div>
			<div class="tiny float-left">
				<p>{{include.blurb}}</p>
			</div>
		</div>

		<hr>

		<div class="round-button">
			<a href="{{site.baseurl}}/cart" alt="buy button">
			    <p class="circle-text kilo button-text">add to cart</p>
			</a>
		</div>
		<div class="white">
			<a href="{{site.baseurl}}/products" class="micro promo center border">See more options</a>
		</div>

	</div>
</div>




