<div class="grid">

		<div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
			<img class=" flex-img media-img unit" src="{{site.baseurl}}/assets/lemon-cupcake.jpg" alt="lemon cupcake">
		</div>
		
		<div class="unit unit-s-1 unit-m-1-2 unit-l-2-3">
			<div class="gutter">
				<h2>{{include.title}}</h2>
				<p>{{include.desc}}</p>
				<button class="btn-alt yotta bucket-btn">Pick me!</button>
				<p class="micro promo">See more promo's</p>

				<ul class="list-group">
			      <li class="list-group-item list-group-item-inline">
			        <img src="http://placehold.it/50x50/7C6165/ffffff/&amp;text=berry" alt="berry icing">
			      </li>
			      <li class="list-group-item list-group-item-inline">
			        <img src="http://placehold.it/50x50/D1A1A7/ffffff/&amp;text=candy" alt="candy icing">
			      </li>
			      <li class="list-group-item list-group-item-inline">
			        <img src="http://placehold.it/50x50/EAF5EA/ffffff/&amp;text=mint" alt="mint icing">
			      </li>
			    </ul>
			</div>
		</div>

	</div>

