<div class="grid">

		<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3">
			<img class="flex-img media-image" src="{{site.baseurl}}/assets/product-3.svg" alt="chocolate cupcake">
		</div>
		
		<div class="unit unit-s-1 unit-m-2-3 unit-l-2-3">
			<div class="gutter border">
				<h2>{{include.title}}</h2>
				<p>{{include.desc}}</p>
				<p class="">{{include.price}}</p>
				<div class="tiny float-left">
					<p>{{include.blurb}}</p>
					<hr>
					<div class="round-button center">
					<a href="{{site.baseurl}}/cart" alt="buy button">
			    		<p class="circle-text kilo button-text">add to cart</p>
					</a>
				</div>
				<a href="{{site.baseurl}}/products" class="micro promo center border white">See more options</a>
				</div>
			</div>
		</div>

	</div>

