<div class="promo-small">

		<div class="media">
		    <div class="media-img-stacked">
		    	<img class="flex-img" src="{{site.baseurl}}/assets/{{include.image}}" alt="cupcake image">
		  	</div>
		</div>
	
		<div class="media-body">
		    <h2 class="mega space-none">{{include.title}}</h2>
		    <p class="micro space-none">{{include.desc}}</p>
		</div>


		<ul class="list-group">
		    <li class="list-group-item list-group-item-inline">
		      <img src="http://placehold.it/50x50/7C6165/ffffff/&amp;text=berry" alt="berry icing">
		    </li>
		    <li class="list-group-item list-group-item-inline">
		      <img src="http://placehold.it/50x50/D1A1A7/ffffff/&amp;text=candy" alt="candy icing">
		    </li>
		    <li class="list-group-item list-group-item-inline">
		      <img src="http://placehold.it/50x50/EAF5EA/ffffff/&amp;text=mint" alt="mint icing">
		    </li>
		</ul>

		<div class="media">
		<a class="btn micro list-group" href="#">Pick me!</a>
		</div>

</div>




