<div class="media">
	<img class="flex-img media-img unit" src="{{site.baseurl}}/assets/lemon-cupcake.jpg" alt="">
	
	<div class="grid unit unit-s-2-3">
	<div class="gutter">
		<h2>{{include.title}}</h2>
		<p>{{include.desc}}</p>
		<button class="btn-alt yotta bucket-btn">Pick me!</button>
		<p class="micro promo">See more promo's</p>

		<ul class="list-group">
	      <li class="list-group-item list-group-item-inline">
	        <img src="http://placehold.it/50x50/7C6165/ffffff/&text=berry" alt="">
	      </li>
	      <li class="list-group-item list-group-item-inline">
	        <img src="http://placehold.it/50x50/D1A1A7/ffffff/&text=candy" alt="">
	      </li>
	      <li class="list-group-item list-group-item-inline">
	        <img src="http://placehold.it/50x50/EAF5EA/ffffff/&text=mint" alt="">
	      </li>
	    </ul>

	</div>
	</div>	
</div>

