.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	width: 50px;
	height: auto;
	padding: .5em .5em.;
	background-color: #D1A1A7;
	background-image: linear-gradient(to bottom, #D1A1A7, #D1A1A5); /* lower color values by 2 each for slightly darker value */
	border-radius: 100%;
	color: #fff;
	border: 3px solid rgba(255,255,255,.5)
}

.btn-alt,
.btn-alt:link,
.btn-alt:visited {
    width: 15%;
    height:0;
    padding-bottom: 15%;
    -moz-border-radius: 15%; 
    -webkit-border-radius: 15%; 
    border-radius: 50%;
	background-color: #A4BDBC;
	background-image: linear-gradient(to bottom, #A4BDBC, #A2ACAB);
	display: block;
	color: #fff;
	font-weight: bold;
	border: 0;
	margin: auto;
}

.btn:active,
.btn:hover,
.btn:focus{
	background-color: #7C6165;
	background-image: linear-gradient(to bottom, #7C6165, #5C4043); /* lower color values by 2 each for slightly darker value */
	border: 3px solid rgba(255,255,255,.2)
}

.btn-alt:active,
.btn-alt:hover,
.btn-alt:focus {
	background-color: #221718;
	background-image: linear-gradient(to bottom, #221718, #000506); /* lower color values by 2 each for slightly darker value */
}


.circle-text {
    text-align: center;
    padding-top: 35%;
}

.circle-text:hover {
	color: #fff;
}

.round-button {
    display:block;
    width:70px;
    height:70px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
    margin: auto;
    margin-top: 2em;
}
.round-button:hover {
    background: #262626;
}




