.logo {
	margin: auto;
	width: 8rem;
	display:block; 
	left: 0; 
	right: 0;
	top:5%;
	bottom: auto;
	padding-bottom: .5rem;
}

.header {
	text-align: center;
	overflow: hidden;
}

.proud {
	text-transform: bold;
	color: #A4BDBC;
	font-size: 20px;
}

@media only screen and (min-width: 50em) {
}

.nav {
  margin-top: 1.5rem;
  text-align: right;
}

a {
  display: inline-block;
  margin: 0 0.4em;
  text-decoration: none;
}

@media only screen and (min-width: 50em) {

  .nav {
    margin-top: 0;
    text-align: right;
  }

}

.current {
	border-bottom: 2px solid #D1A1A7;
	-webkit-transition: 0.7s;
   -moz-transition: 0.7s;
   -ms-transition: 0.7s;
   -o-transition: 0.7s;
   transition: 0.7s;

}

.banner {
  background:  url('../assets/banner.svg') no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 5rem 1rem 1rem;
}

.banner h2 {
  color: #FFF;
}