<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="utf-8">
<title>{{page.title}} · cake</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/cake.css" rel="stylesheet">
</head>
<body>

<!-- header start -->
<header role="banner">

<div class="header">
    <a href="{{site.baseurl}}/"><img class="logo" src="{{site.baseurl}}/assets/cake-logo.svg" alt="cake logo"></a>

</div>

<!-- role="navigation" -->
<nav role="navigation">
    <ul class="list-group header">
        <li class="list-group-item list-group-item-inline"><a class="{% if page.url == '/' %}current {% endif %}" href="{{site.baseurl}}/">Home</a></li>
        <li class="list-group-item list-group-item-inline"><a class="{% if page.url == '/products/' %}current {% endif %}" href="{{site.baseurl}}/products/">Products</a></li>
        <li class="list-group-item list-group-item-inline"><a class="{% if page.url == '/about/' %}current {% endif %}" href="{{site.baseurl}}/about/">About</a></li>
    </ul>
</nav>


<!-- Search starts -->

<div class="flexsearch">
  <div class="flexsearch--wrapper">
    <form class="flexsearch--form" method="get" action="{{site.baseurl}}/search/">
      <div class="flexsearch--input-wrapper">
        <input class="flexsearch--input" type="search" placeholder="search">
      </div>
      <input class="flexsearch--submit" type="submit" value="&#10140;"/>
    </form>
  </div>
</div>

</header>
<!-- Search ends -->

<!-- header end -->

{% include banner.html %}

{{content}}

<!-- footer start -->

<footer class="footer unit unit-m-1" role="contentinfo">
  <div>
    <a href="#"><i class="yotta fa fa-facebook"></i><span class="visuallyhidden">Facebook</span></a>
    <a href="#"><i class="yotta fa fa-twitter"></i><span class="visuallyhidden">Twitter</span></a>
    <a href="#"><i class="yotta fa fa-instagram"></i><span class="visuallyhidden">Instagram</span></a>
    <a href="#"><i class="yotta fa fa-flickr"></i><span class="visuallyhidden">Flickr</span></a>
  </div>

<div class="to-top">
  <a class="return-to-top" href="#top">Return to Top</a>
  <div class="micro">Copyright © 2013 by Cake. All rights reserved.</div>
</div>
</footer>

<!-- footer end -->

</body>
</html>