---
layout: default
---

<div class="grid unit unit-s-1 unit-m-1 unit-l-1">
	<div class="border margin-auto">
		<h1>{{page.name}}</h1>

		<dl>
			<dt>Type</dt>
			<dd>{{page.type}}</dd>
			<dt>Flavour</dt>
			<dd>{{page.flavour}}</dd>
		</dl>

{{content}}
		
	</div>
</div>

<div class="grid unit unit-s-1 unit-m-1 unit-l-1 margin-auto">
	<div>
		<div class="round-button">
		    <a href="{{site.baseurl}}/cart" alt="buy button">
		        <p class="circle-text mega">Buy</p>
		    </a>
		</div>

		<div class="see-more">
			<a class="" href="{{site.baseurl}}/products/{{products.name}}" alt="link to more options">
				<h5>see more delicious options.</h5>
			</a>
		</div>
	</div>
</div>

